/* root, body */
:root {
  --primaty-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --button-color: #4d5ae5;
  --button-hoover: #404bbf;
  --secondary-color: #2e2f42;
}
body {
  font-family: var(--primaty-font);
  color: #434455;
  background-color: #ffffff;
}
/* ========================COMMON========================== */
.list {
  list-style: none;
  color: #2e2f42;
}
.link {
  text-decoration: none;
}
/* ========================COMMON========================== */

/* ========================HEADER========================== */
.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-color);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.logo-text-header {
  color: var(--secondary-color);
}
.menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.logo:focus,
.logo-text-header:focus,
.menu-item:focus,
.contacts:focus,
.logo:hover,
.logo-text-header:hover,
.menu-item:hover,
.contacts:hover,
.logo-text-footer:focus,
.logo-text-footer:hover {
  color: var(--button-hoover);
}
.address {
  font-style: normal;
}
/* ========================HEADER========================== */

/* =========================HERO=========================== */
.hero-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.hero-button:hover,
.hero-button:focus {
  background: var(--button-hoover);
}

/* =========================HERO=========================== */
/* =========================SECTIONS=========================== */
.topics {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
}
.names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.team-section {
  background: #f4f4fd;
}
.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero {
  background-color: #2e2f42;
  height: 600px;
  width: 1440px;
}
.abilities {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.abilities-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #434455;
}
.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;
  width: 264px;
  height: 380px;
  left: 156px;
  top: 1780px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
/* ==names-position used in portfolio.html also */
.names-position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #434455;
}
/* =========================SECTION=========================== */

/* ==========================PORTFOLIO========================== */
.filter-item-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 116px;
  height: 48px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  flex-grow: 0;
  color: #4d5ae5;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
}
.filter-item-button:focus,
.filter-item-button:hover {
  color: #ffffff;
  background: #404bbf;
}
.examples-item {
  width: 360px;
  height: 420px;
  left: 156px;
  top: 288px;
  background: #ffffff;
  border: 1px solid #e7e9fc;
}
/* ==========================PORTFOLIO========================== */

/* =========================FOOTER=========================== */
.logo-text-footer {
  color: #f4f4fd;
}
.footer-section {
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2280px;
  background: #2e2f42;
}
.footer-text {
  width: 264px;
  height: 72px;
  left: 156px;
  top: 2420px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* =========================FOOTER=========================== */
